
<div class="site-footer">
  <div class="container-fluid jumbotron1">
    <div class="row">
      <div class="col col-lg-5 col-md-5 col-xs-12">
         <h4>CV Facile</h4>
         <p> Tous les exemples de CV sont
           à télécharger au format Word gratuitement.
           La rédaction d’un CV n est plus  un véritable casse-tête pour le candidat sur notre site web
          </p>
      </div>

      <div class="col col-lg-4 col-md-4 col-xs-12">
        <h4>CONSEILS POUR CV ET entretien</h4>


         <p>Conseils pour réaliser un bon CV</p>
         <p>CV Moderne  Format Word</p>
      </div>
      <div class="col col-lg-3 col-md-3 col-xs-12">
        <h4 id="partager-footer"> partager vos expériences</h4>
        <p>Valoriser vos expériences professionnelles</p>

        <div>

          <a href="" class="me-4 text-reset text-center">
            <i  class="fab fa-facebook-f icon"></i>
          </a>
      <!--     <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter icon"></i>
          </a> -->
          <a href="https://www.facebook.com/ahmed.kouraichi.372" class="me-4 text-reset">
            <i class="fab fa-google icon"></i>
          </a>
          <a href="https://www.facebook.com/ahmed.kouraichi.372" class="me-4 text-reset">
            <i class="fab fa-instagram icon"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin icon"></i>
          </a>
          <a href="https://github.com/ahmedkouraichi2" class="me-4 text-reset">
            <i class="fab fa-github icon"></i>
          </a>
        </div>
      </div>
    </div>



  </div>

</div>
<div class="row footer">
  <div class="col col-lg-12" style="background-color:#363839 ;">
     <h6>CV facile - Copyright KOURAICHI© 2021 Tous droits réservés</h6>

  </div>
</div>
