h4{
/*   text-align: center; */
text-transform: uppercase;
margin-left: 0px;
font-size: 20px;
}
h4:hover{
  text-decoration:underline;
}
.jumbotron1 {
  padding: 2rem 1rem;
  margin-bottom: 0;
  background-color: #e9ecef;
  border-radius: .3rem;
  margin-top: 10px;
  margin-left: 0px;
}

.footer{
  margin-bottom: 0;
  height: 20px;
}
.footer h6{
  text-align: center;
  margin-top: 15px;

  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 15px;
  color: beige;
}
.icon{
  font-size: 30px;
  margin-left: 8px;
}
.icon:hover{
  /* width:40px; */
/*   background-color: antiquewhite; */
font-size: 35px;

}

