<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <img src="../../assets/fast-free-cv-bnr.png" alt="home" style="justify-content: center;">
    </div>

    <div class="col-lg-6 col-xs-12">
      <div class="row  big-text">
        <h1 class="text-important">
          Créez un CV gratuit<br>
          en quelques minutes
        </h1>
       <!--  <h4 class="text" >Sélectionnez parmi des centaines de modèles et décrocher le
          job dont vous rêvez maintenant </h4> -->


      </div>


    </div>
  </div>

</div>
<!-- <app-compo></app-compo> -->
 <app-images></app-images>
 <app-cv-top2></app-cv-top2>
 <div class="conatiner-fluid blanche">
  <div class="central-navlist ">
    <app-navliste-cv></app-navliste-cv>

   </div>

 </div>


