
<div class="container">
  <div class="body cadre">
    <div class="row">
        <div div class="col col-12 col-md-4 col-lg-4 toul">
               <div class="card card-display">
                   <img src="../../assets/images/2.PNG" width="200px" height="400px"/>
                  <div class="card-body">


                    <a href="../../assets/cv1.docx"
                    class="button-vert" download>telecharger </a>
                     </div>
              </div>
        </div>




          <div div class="col col-12 col-md-4 col-lg-4 toul">
           <div class="card">
              <img src="../../assets/images/cv1.PNG"  width="200px" height="400px">
              <div class="card card-display">


             <a href="../../assets/cv1.docx"
             class="button-vert" download>telecharger </a>
              </div>
            </div>
          </div>




        <div div class="col col-12 col-md-4 col-lg-4 toul">
          <div class="card">
              <img src="../../assets/images/3.PNG" class="card-img-top" width="200px" height="400px">
              <div class="card card-display">


              <a href="../../assets/cv1.docx"
             class="button-vert" download>telecharger </a>
              </div>
              </div>
            </div>
         </div>







         <div class="jumbotron">
          <h1 style="text-align: center;"> Tous les exemples de  CV professionnel</h1>
          <h6 style="text-align: center;">Le CV (curriculum vitae)</h6>
        </div>

        


 </div>
