<div class="container">
  <div class="row rowTop">

    <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c1.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv1.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c2.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv2.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c3.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv3.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c4.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv4.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c5.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv5.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c6.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv6.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c7.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv7.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div><div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c8.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv8.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv9.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv10.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>
     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv11.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>
     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv12.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>













  </div>





  <div class="row rowTop">

    <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c13.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a  href="../../assets/cv/cv13.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c14.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv14.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c15.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv15.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c16.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv16.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c17.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv17.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c18.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv18.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c19.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv19.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div><div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c20.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv20.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c21.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv21.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c22.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv22.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>
     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c23.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv23.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>
     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c24.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv24.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>













  </div>
</div>
