
<div class="container-fluid">
  <h4 class="text-important petit" >
    Nous sommes là pour vous aider </h4>
  <div class="row row-max">
    <div class="col-lg-6 col-xs-12">
      <img src="../../assets/images/home.png" alt="home">
    </div>
    <div class="col-lg-6 col-xs-12">
      <div class="imges2">
        <img id="img1" src="../../assets/images/v.PNG" alt="cv">
        <img  id="img2" src="../../assets/images/faux.PNG" alt="cv">
        </div>


    </div>
  </div>

</div>



 <div class="jumbotron1">
  <h1 style="text-align: center;"> Les questions importantes en entretien d’embauche</h1>
  <p style="text-align: center;">Préparer un entretien d’embauche </p>
</div>

<app-question></app-question>
<div class="jumbotron1">
  <h1 style="text-align: center;"> Lisez les conseils qui se rapportent
    aux différentes situations</h1>

</div>
<div class="blok">
  <ul>
    <li>La motivation est un atout essentiel pour être recruté : montrez votre dynamisme</li>
    <li> Mettez en avant vos qualités d’énergie, de volonté et votre professionnalisme</li>
    <li> Mettez en avant vos qualités d’énergie, de volonté et votre professionnalisme</li>
    <li>Citez, sur la société qui vous reçoit, des informations que vous aurez recueillies pour préparer l’entretien.</li>

      <li>Ne donnez pas d’informations confidentielles sur vos précédentes entreprises.</li>
      <li> Ne dites pas de mal de vos anciens employeurs, mais ne bluffez pas, essayez de tourner
        les choses à votre avantage.</li>
        <li> Pour convaincre, il ne suffit pas d’affirmer, il faut également prouver en donnant des exemples
          d’expériences réussies.</li>
  </ul>

</div>







