<div class="container">
  <div class="row rowTop">

    <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c25.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv25.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c26.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv26.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c27.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv27.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c28.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv28.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c29.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv29.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c30.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv333.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c31.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv31.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div><div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c32.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv32.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c33.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv33.pptx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c34.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv34.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>
     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c35.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv35.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>
     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c36.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv36.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>













  </div>





  <div class="row rowTop">

    <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c37.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a  href="../../assets/cv/cv37.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c38.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv38.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c39.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv39.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c40.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv40.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c41.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv41.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c42.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv42.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c43.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv43.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div><div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c44.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv44.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>



     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c45.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv45.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>


     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c46.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv46.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>
     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c47.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv47.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>
     <div div class="col col-6 col-md-3 col-lg-2 ">
      <div class="card">
          <img src="../../assets/images/c48.PNG" width="100%" height="100%"/>
         <div class="card-body card-display">


           <a href="../../assets/cv/cv48.docx"
           class="btn btn-outline-primary" download>telecharger </a>
            </div>
     </div>
     </div>













  </div>
</div>
