<!-- <h3 style="text-align: center;">"Parlez-moi de vous", "Pourquoi devrions-nous vous embaucher ?"…</h3>
 -->


<div class="blocTotal">
  <div class="blok">

    <h6  (click)="reponse1()">1- Parlez-moi de vous </h6><br>
    <div *ngIf="reponse" class="reponse">
      <p  >Il est
        intéressant de parler sur le plant professionnel et Eviter de parler sur de votre vie personnelle </p>

    </div>



   <h6 (click)="reponse1()" >2- Quel est votre job de rêve  dans le futur ?</h6><br>

     <div *ngIf="reponse" class="reponse">
         <p>Quelle raison se cache derrière cette question piege , bien se cantonner a des expression comme bateau</p>
     </div>

   <h6 (click)="reponse1()">3- Pourquoi avez-vous quitté votre poste  ?</h6><br>
      <div class="reponse" *ngIf="reponse" class="reponse">
      <p>"Faites une réponse positive". Vous montrez donc que vous avez besoin de nouvelles opportunités et de changement...
      </p>
    </div>

    <h6  (click)="reponse1()">4- Quelle est votre pire faiblesse ?</h6><br>

    <div class="reponse" *ngIf="reponse" class="reponse">
      <p>Concentrez-vous sur vos défauts professionnels Plusieurs détaille reste de chose très privés.  </p>
    </div>


    <h6 (click)="reponse1()">5- Quels sont vos points forts ?</h6><br>

    <div class="reponse" *ngIf="reponse" class="reponse">
      <p>Préparez bien une bonne  illustration sur chaque point forte </p>
    </div>

    <h6 (click)="reponse1()" >6- Que savez-vous sur notre activité ?</h6><br>

    <div class="reponse" *ngIf="reponse" class="reponse">
      <p>
        Une bonne préparation de votre entretien d’embauche consiste à une bonne recherche sur l’entreprise en question, restez succinct</p>
    </div>




   <a href="../../assets/questionreponse.docx"  class="btn btn-link" download >Voir Plus </a>






  </div>
  <div class="bock-2">
     <img src="../../assets/images/buisness_digital_transformation.png">
  </div>
</div>



