
<div class="container-fluid">
   <div class="row">
     <div class="col col-12">
       <div class="row">
         <div class="col-6">
            <h2 class="font-weight-light text-capitalize mb-0 fs-xl-4 fs-sm-3
           heading-underline heading-underline-2 mb-4" style="margin-top: 50px;margin-left: 30px;">démarque-toi et accrocher les recruteur.</h2>

               <div class="background-image">

               </div>
              <!--  <h3>.</h3> -->

<!--              <p>Un recruteur passe, en moyenne, une minites sur un  CV pour m' analyzer si'l merit avancer dans le processus de recreutement.</p>
 -->            <ul>
               <li style="margin-top: 5px;"><i style="color:blue" class="fas fa-pen-fancy icon1"></i>Design moderne</li>
               <li><i   style="color:blue" class="far fa-clock icon1"></i>Facile à utiliser</li>
               <li><i  style="color:blue" class="fas fa-laptop icon1"></i>100% personnalisable</li>

            </ul>

            </div>
         <div class="col-6 col-zoom">
           <img  class="zoom"src="../../assets/Capture.PNG">

        </div>
       </div>
     </div>
   </div>

  <div class="row row-titre">
    <div class="col">
      <h4 class=" text-titre font-weight-light text-capitalize mb-0 text-light
      fs-md-2 fs-lg-2 fs-1 py-md-3 py-2">Commencez à créer <br class="d-md-none"><span class="text-white
      font-weight-bold custome-underline">votre CV au format Word </span> gratuitement</h4>
    </div>
  </div>
</div>
