<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <img src="../../assets/fast-free-cv-bnr.png" alt="home" style="justify-content: center;">
    </div>

    <div class="col-lg-6 col-xs-12">
      <div class="row  big-text">
        <h1 class="text-important my-3">
          Créez un CV gratuit<br>
          en quelques minutes
        </h1>



      </div>


    </div>
  </div>

</div>
<!-- <app-compo></app-compo> -->
<!--   -->
<app-tout-cv></app-tout-cv>
