<div class="container">

  <div class="row">

        <div div class="col col-12 col-md-4 col-lg-3 ">
          <div class="card">
              <img src="../../assets/images/c1.PNG" width="100%" height="100%"/>
             <div class="card-body">


               <a href="../../assets/cv1.docx"
               class="button-vert" download>telecharger </a>
                </div>
         </div>
         </div>



         <div div class="col col-12 col-md-4 col-lg-3 ">
            <div class="card">
           <img src="../../assets/images/c2.PNG" width="100%" height="100%"/>
          <div class="card-body">


           <a href="../../assets/cv2.docx"
           class="button-vert" download>telecharger </a>
            </div>
        </div>
         </div>





        <div div class="col col-12 col-md-4 col-lg-3 ">
             <div class="card">
             <img src="../../assets/images/c3.PNG" width="100%" height="100%"/>

          <div class="card-body">


           <a href="../../assets/cv3.docx"
           class="button-vert" download>telecharger </a>
            </div>
           </div>
       </div>



      <div class="col col-12 col-md-4 col-lg-3 ">
        <div class="card">
        <img src="../../assets/images/c4.PNG" width="100%" height="100%"/>
        <div class="card-body">
       <a href="../../assets/cv4.docx"
       class="button-vert" download>telecharger </a>

      </div>
 </div>
</div>
</div>



<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c5.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c6.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c7.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c8.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>



</div>



<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>


</div>




<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>



</div>




<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>




<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>




<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>




<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>




<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>



<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>



<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>

<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>


<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>

<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>
<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>
<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>
<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>
<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>






</div>
<div class="row">

<div div class="col col-12 col-md-4 col-lg-3 ">
  <div class="card">
      <img src="../../assets/images/c9.PNG" width="100%" height="100%"/>
     <div class="card-body">


       <a href="../../assets/cv1.docx"
       class="button-vert" download>telecharger </a>
        </div>
 </div>
 </div>



 <div div class="col col-12 col-md-4 col-lg-3 ">
    <div class="card">
   <img src="../../assets/images/c10.PNG" width="100%" height="100%"/>
  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
</div>
 </div>





<div div class="col col-12 col-md-4 col-lg-3 ">
     <div class="card">
     <img src="../../assets/images/c11.PNG" width="100%" height="100%"/>

  <div class="card-body">


   <a href="../../assets/cv1.docx"
   class="button-vert" download>telecharger </a>
    </div>
   </div>
</div>



<div class="col col-12 col-md-4 col-lg-3 ">
<div class="card">
<img src="../../assets/images/c12.PNG" width="100%" height="100%"/>
<div class="card-body">
<a href="../../assets/cv1.docx"
class="button-vert" download>telecharger </a>

</div>
</div>
</div>
